body{
  background-color: greenyellow;
}

header{
  background-color: #0650A6;
  color: #fff;
  font-size: 1.3em;
  font-family: 'Open Sans Condensed', SansSerif;
  padding: .3em 3em;
  a{
    color: #fff;
    padding: .2em 3%;
  }
  #right-text{
    padding-left: 8%;
  }
  #search{
    display: flex;
    flex-flow: row;
    padding: 0 .3em;
  }
  #searchicon{
    margin: .6em -1.5em 0 .8em;
    font-size: .8em;
  }
  #searchfield{
    background-color: #4588D4;
    border-radius: 1em;
    border: hidden;
    padding-left: 2.2em;
  }
  #left-text{
    text-align: right;
    padding-right: 8%;
  }
}
.container{
  padding-top: 4em;
  .left{
    margin-left: 0;
  }
}
.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}
.sort:hover {
  color: #cc0000;
  cursor: pointer;
}

.product-list-by-categories {
  text-align: right;
}

category-tree{
  li{
    list-style-type: none;
  }
}

.empty {
  float: right;
  border: solid;
  border-color: #0650A6;
  border-radius: .3em;
  color: #FFF;
  background-color: #0650A6;
  margin-left: 5em;
}

.empty:hover {
  color: #4588D4;
  border-color: #4588D4;
  cursor: pointer;
}

.list_style {
  list-style-type: circle;
}

.glyphicon-folder-close, .glyphicon-folder-open {
  color: #E8D373;
}