<table class="table table-bordered">
    <thead>
        <th class="sort" ng-repeat="attribute in attributes" ng-click="sortBy(attribute)">{{attribute}}
            <span class="sortorder" ng-show="propertyName === attribute" ng-class="{reverse: reverse}"></span>
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="data in data | filter: search | orderBy:propertyName:reverse">
            <td ng-repeat="attribute in attributes">{{data[attribute]}}</td>
        </tr>
    </tbody>
</table>