<div class="row-fluid">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td><h4>Name:</h4></td>
                <td><a href="#" editable-text="category.name" onaftersave="categoryUpdate()"><h4>{{category.name}}</h4></a></td>
            </tr>
            <tr>
                <td>Id:</td>
                <td>{{category.id}}</td>
            </tr>
            <tr>
                <td>Created:</td>
                <td>{{category.createdAt}}</td>
            </tr>
            <tr>
                <td>Updated:</td>
                <td>{{category.updatedAt}}</td>
            </tr>
            <tr>
                <td>Parent:</td>
                <td><a href="#" editable-select="category.parent.id" e-ng-options="category.id as category.name for category in categories" onaftersave="categoryUpdate()"> {{category.parent.name}}</a></td>
            </tr>
        </tbody>
    </table>
</div>