<div class="row-fluid">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td><h4>Name:</h4></td>
                <td><h4>{{category.name}}</h4></td>
            </tr>
            <tr>
                <td>Id:</td>
                <td>{{category.id}}</td>
            </tr>
            <tr>
                <td>Created:</td>
                <td>{{category.createdAt}}</td>
            </tr>
            <tr>
                <td>Updated:</td>
                <td>{{category.updatedAt}}</td>
            </tr>
            <tr>
                <td>Parent:</td>
                <td>{{category.parent.name}}</td>
            </tr>
        </tbody>
    </table>
</div>