
<h1>Product list:</h1>

<div class="row-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    <button ng-click="sortBy('id')">ID</button>
                    <span class="sortorder" ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <button ng-click="sortBy('name')">Name</button>
                    <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <button ng-click="sortBy('category.name')">Category</button>
                    <span class="sortorder" ng-show="propertyName === 'category.name'" ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <button ng-click="sortBy('price')">Price</button>
                    <span class="sortorder" ng-show="propertyName === 'price'" ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <button ng-click="sortBy('description')">Description</button>
                    <span class="sortorder" ng-show="propertyName === 'description'" ng-class="{reverse: reverse}"></span>
                </th>
            </tr>
        </thead>
        <tbody >

            <tr ng-repeat="product in products| filter:search | orderBy:propertyName:reverse">
                    <td>{{product.id}}</td>
                    <td><a href="#/products/{{product.id}}">{{product.name}} </a></td>
                    <td>{{product.category.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row-fluid">
    <button class="btn btn-info" ng-click="add()"> <i class="icon-white glyphicon-plus"></i>Add product</button>
</div>


