
<h1>Product list:</h1>

<div class="row-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="sort" ng-click="sortBy('id')">
                    <span>ID</span>
                    <span class="sortorder" ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span>
                </th>
                <th class="sort" ng-click="sortBy('name')">
                    <span>Name</span>
                    <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
                </th>
                <th class="sort" ng-click="sortBy('category.name')">
                    <span>Category</span>
                    <span class="sortorder" ng-show="propertyName === 'category.name'" ng-class="{reverse: reverse}"></span>
                </th>
                <th class="sort" ng-click="sortBy('price')">
                    <span>Price</span>
                    <span class="sortorder" ng-show="propertyName === 'price'" ng-class="{reverse: reverse}"></span>
                </th>
                <th class="sort" ng-click="sortBy('description')">
                    <span>Description</span>
                    <span class="sortorder" ng-show="propertyName === 'description'" ng-class="{reverse: reverse}"></span>
                </th>
            </tr>
        </thead>
        <tbody >
            <tr ng-repeat="product in products| filter:search | orderBy:propertyName:reverse">
                    <td>{{product.id}}</td>
                    <td><a href="#/products/{{product.id}}">{{product.name}} </a></td>
                    <td>{{product.category.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.description}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row-fluid">
    <button class="btn btn-primary" ng-click="add()"> <i class="icon-white glyphicon-plus"></i>Add product</button>
</div>


