<h3>Product:</h3>

<div class="row-fluid">
    <table class="table table-bordered">

        <tbody >
            <tr>
                <td><h4>Name:</h4></td>
                <td><h4><a href="#" editable-text="product.name" onaftersave="productUpdate()"> {{product.name||'empty'}}</a></h4></td>
            </tr>
            <tr>
                <td>Id:</td>
                <td>{{product.id}}</td>
            </tr>
            <tr>
                <td>Created:</td>
                <td>{{product.createdAt | date :'yyyy-MM-dd EEEE HH:mm:ss'}}</td>
            </tr>
            <tr>
                <td>Updated:</td>
                <td> {{product.updatedAt | date :'yyyy-MM-dd EEEE HH:mm:ss'}}</td>
            </tr>
            <tr>
                <td>Category:</td>
                <td><a href="#" editable-select="product.category" onaftersave="productUpdate()" e-ng-options="category.id as category.name for category in categories"> {{product.category.name|| 'empty'}}</a></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><a href="#" editable-textarea="product.description" onaftersave="productUpdate()"> {{product.description ||'empty'}}</a></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><a href="#" editable-number="product.price" onaftersave="productUpdate()"> <i class="icon-white glyphicon-euro">{{product.price||'empty'}}</i></a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="row-fluid">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-remove"></i>Delete this product</button>
    <button type="button" class="btn btn-primary" ng-click="back()"><i class="glyphicon glyphicon-backward"></i>  Back</button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Product name: {{product.name}}</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to DELETE this product?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" ng-click="removeProduct()" data-dismiss="modal"> <i class="glyphicon glyphicon-remove"></i>DELETE</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

