<h1><div>Registration</div></h1>
<form type="text" method="post" id="register">
    <span id="email">Email:</span>
    <div><input type="text" ng-model="user.email" required></div>

    <span id="password">Password:</span>
    <div><input type="password" ng-model="user.password" required></div>

    <span id="name">Name:</span>
    <div><input type="text" ng-model="user.name" required></div>

    <span id="address">Address:</span>
    <div><input type="text" ng-model="user.address" required></div>

    <span id="phone">phone:</span>
    <div><input type="text" ng-model="user.phone" required></div>

    <span id="balance">Balance:</span>
    <div> <input type="text" ng-model="user.balance" required></div>

    <span id="rights">Rights:</span>
    <div><input type="text" ng-model="user.rights" required></div>

    <div><button type="submit" id="personalBtn" ng-click="register()">Submit</button></div>
</form>