<form enctype="text/plain" id="registration">
    <label for="userName">Name:</label>
    <div><input type="text" id="userName" required> </div>
    <label for="address">Address:</label>
    <div><input type="text" id="address" required></div>
    <label for="phoneNumber">PhoneNumber:</label>
    <div><input type="number" id="phoneNumber"></div>
    <label for="password1">Password:</label>
    <div><input type="password" id="password1" required></div>
    <label for="password2">Password:</label>
    <div><input type="password" id="password2" required></div>
    <button type="submit" id="registrationSend">Registration</button>


</form>