<div class="row-fluid">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <td><h4>Name:</h4></td>
            <td><h4>{{warehouse.name}}</h4></td>
        </tr>
        <tr>
            <td>OwnerId:</td>
            <td>{{warehouse.ownerId}}</td>
        </tr>
        <tr>
            <td>Id:</td>
            <td>{{warehouse.id}}</td>
        </tr>
        <tr>
            <td>Created:</td>
            <td>{{warehouse.createdAt}}</td>
        </tr>
        <tr>
            <td>Updated:</td>
            <td>{{warehouse.updatedAt}}</td>
        </tr>
        </tbody>
    </table>
</div>
